@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px 30px 10px 10px; /* Adjust right padding for dropdown arrow */
    font-size: 16px;
    position: relative;
    background-image: url('./arrow.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}

